//________________________
//
// Site header
//
//________________________


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

article {
  a {
    display: block;
    float: left;
    position: relative;
    width: $twoColumn;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

