//________________________
//
// Colors!
//
//________________________

$bodyBackground: #fbfbfb;
$textColor: #030303;

$grayLighter: #cacaca;
$grayLight: #a7a7a7;
$grayMed: #bebebe;
$grayDark: #636466;
$grayDarker: #555555;


$linkBlue: #2f488e;

$linkColor: #606eac;
$linkColorDarker: #38447E;

$placeholderText:         $grayLight !default;

$btnBackground:                     white !default;
$btnBackgroundHighlight:            darken(white, 10%) !default;
$btnBorder:                         $grayDark; // #bbb !default

$btnBlue: #0191c9;
$btnBlueBorder: #0075b0;

$black:                 #000;
$orange:                #f89406;
$white:                 #fff;


$first-background: #7cb4cc;


//________________________
//
// Sizes
//
//________________________

$standardFontSize: 18px;

$largerHeader: 28px;
$largeHeader: 24px;
$smallHeader: 18px;
$smallerHeader: 16px;

$smallText: 14px;
$smallerText: 12px;

$baseLineHeight: 20px;


$tabBottomHeight: 12px;


//________________________
//
// Forms
//
//________________________

$inputBackground:               white !default;
$inputBorder:                   $grayDark;
$inputBorderRadius:             3px !default;
$inputDisabledBackground:       $grayLighter !default;
$inputWidth: 300px;
$labelWidth: 200px;


//________________________
//
// Grid percent
//
//________________________


$gridColumnWidth:         68px !default;
$gridGutterWidth:         20px !default;
$gridColumns:             12 !default;
$columnWidth:             6.5%;
$gutterWidth:             2%;
$gutter:                  2%;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;


$oneColumn:                     (1 * $columnWidth) + (0 * $gutterWidth);
$twoColumn:                     (2 * $columnWidth) + (1 * $gutterWidth);
$threeColumn:                   (3 * $columnWidth) + (2 * $gutterWidth);
$fourColumn:                    (4 * $columnWidth) + (3 * $gutterWidth);
$fiveColumn:                    (5 * $columnWidth) + (4 * $gutterWidth);
$sixColumn:                     (6 * $columnWidth) + (5 * $gutterWidth);
$sevenColumn:                   (7 * $columnWidth) + (6 * $gutterWidth);
$eightColumn:                   (8 * $columnWidth) + (7 * $gutterWidth);
$nineColumn:                    (9 * $columnWidth) + (8 * $gutterWidth);
$tenColumn:                     (10 * $columnWidth) + (9 * $gutterWidth);
$elevenColumn:                  (11 * $columnWidth) + (10 * $gutterWidth);
$twelveColumn:                  100%;

//________________________
//
// Fluid grid, necessary so that the scss file can be imported
//
//________________________

$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;


// Form states and alerts
// -------------------------

$warningBackground:       #fcf8e3 !default;
$warningBorder:                    #fcd821;
$warningText:                      #9c8200;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;



// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;



//________________________
//
// Fonts bitch
//
//________________________

$headerFont: 'EB Garamond', serif;;
$bodyFont: 'EB Garamond', serif;;