//________________________
//
// Global styles
//
//________________________

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  max-width: 100%;
  position: relative;
  font-size: $standardFontSize;
  font-family: $bodyFont;
  line-height: 1.2em;
  background: $bodyBackground;
  color: $textColor;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:visited {
    color: $linkColor;
  }
  &:hover {
    text-decoration: underline;
    color: $linkColorDarker;
  }
}

img {
  display: block;
}

p {
  margin-top: 0;
}

h1, h2, h3 {
  font-family: $headerFont;
  text-shadow: 0 0 2px rgba(white,.3);
}

//________________________
//
// Layout
//
//________________________

section {
  @include clearfix;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
}


header a {
  &:active {
    @include translate(1px,1px);
  }
}

#grid-overlay {
  // display: none;
  position: fixed;
  height: 100%; width: 100%;
  z-index: 99999;
  .grid-receptacle {
    @extend .receptacle;
    height: 100%;
  } 
  .inner-recep { height: 100%;}
  .column {
    float: left;
    width: $oneColumn;
    height: 100%;
    margin-left: $gutterW;
    border: 1px solid #b2dec1;
    border-top: none;
    border-bottom: none;
  }
  .inner-recep .column:first-of-type {
    margin-left: 0;
  }
}